*{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    background-color: #4a4857;
    width: 100%;
    height: 60px;
    font-size: 22px;
    justify-content: center;
  }

  .home{
    float: left;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

h1, h2, h3{

    text-align: center;

}

footer{

  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #4a4857;
  display: block;
  justify-content: center;
  text-align: center;
  color: white;

}

.titulo{
  background-image: linear-gradient(#859987, #6da67a);
  color: white;
  justify-content: center;
  padding: 20px;
}

.tela-principal{
    padding: 10px;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(#6da67a, #859987);
    display: flex;
    align-items: center;
    justify-content: center;

}

.carrossel{
    height: 300px;
    width: 70%;
    background-color: red;
    justify-content: center;
    text-align: center;

}

.tela-abaixo{

    padding: 10px;
    width: 100%;
    height: 450px;
    background-color: blueviolet;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    

}

.img-1{

    display: flex;
    background-color: chartreuse;
    width: 30%;
    height: 300px;
    margin: 20px;
    justify-content: center;

}

.imagem-sustenta{

  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: auto;
}

.texto-inicial{

    display: inline-flex;
    background-color: #859987;
    width: 70%;
    height: 300px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 0;

}

/* SOBRE */

.cont-imagem-sobre{
  background-color: blueviolet;
  display: flex;
  width: 100%;
  height: 400px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.img-sobre1{
  padding: 12px;
  margin: 12px;
  width: 80%;
  height: 80%;
  background-color: aqua;

}

.cont-principal{
  background-color: green;
  display: flex;
  width: 100%;
  height: 400px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards-nos{

  display: flex;
  width: 100%;
  height: 400px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
  padding: 2px 16px;
}